/*For desktop*/


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*heading-part design*/
.nav-menu a {
	font-size: 2rem;
	margin: 50px 20px;
	padding: 15px;
	
}
.heading-title h1 {
	
	font-size: 4rem;
}
/*heading-part design end*/

/*text-Section  part starts*/

.text-section p{
	text-align:center;
	margin-left:300px;
	margin-right:300px;
	font-family: 'Oswald', sans-serif;
	font-size:1.5rem;
}


/*text-section part ends*/


/*menu design starts*/
.menu-section{
	padding:1%;
	overflow:hidden;
	
}
.card{
	
	
	
}
	
.card:hover{
	box-shadow:5px 6px 10px 2px black;

}

.card-body{
	text-align:center;

	
	
}
.card-body img {
	width:307px;
	height:400px;
	display: block;
	
}
.card-desc{
	background-color:rgb(165,164,164);
	
	
}
.first-item{
	color:tomato;
	background-color:black;
	padding:10px;
	font-size:1.5rem;
	font-weight:bolder;
	text-align:center;
	

}
.card-desc > p{
	font-size:1.2rem;
	padding:5px;
	text-align:center;
	
}



/*menu design ends*/

/*booking design starts*/

#booking-section {
	margin-top: 80px;
}
/*booking design ends*/